.App {
  text-align: center;
}

input {
  width: 300px;
}

/*******************animations ***********************/
* {
  margin: 0;
  padding: 0;
}

.element {
  height: 150px;
  width: 150px;
  margin: 10px;
}

.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.white {
  fill: #fff;
}
.gray {
  fill: #e0e0e0;
}
.yellow {
  fill: #ffe600;
}
